.App {
    text-align: center;
  }
  
  .folder-list button {
    margin: 5px;
    padding: 10px;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    margin: 10px;
    position: relative;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .image-container a {
    display: block;
    margin-top: 5px;
  }
  